/* © Copyright 2018. All Rights Reserved. | Developed & Maintained by the Interns of JECC 2017-21 CSE */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url("../../image/nat.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color:white;
    top: 10%;    
    font-family: sans-serif;
    }

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.cntnt {
    margin-left: 0px;
    font-size: 16px;
    padding: 0px 0px;
}
.cntnty {
    margin-left: -97px;
    font-size: 16px;
    padding: 5px 0px;
}
.aft::after{
right: 2px !important ;

}
.rowing {
    margin-left: 250px;
    padding: 70px 0px;
    min-height: 672px;
    padding-bottom: 200px
}
.rowl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -500px;
    margin-left: 0px;
}

.rowsy {
    height:100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 70px 0px;
    /* padding-bottom: 366px; */

}


.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    
}

.pan {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.paneli {
    margin-bottom: 20px;
    
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    min-width: 250px;
    min-height: 600px;
}
.panel {
    margin-bottom: 20px;
    background-color:rgba(0, 0, 0, 0.1); 
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    min-width: 250px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-vio > .panel-heading {
    border-color: #065278;
    color: white;
    background-color: #1bbfe1;
    min-width: 250px;
    margin-bottom: 20px;
    border-radius: 16px;
}
.panel-yellow > .panel-heading {
    border-color: #006eff;
    color: white;
    background-color: #0293e7;
    min-width: 250px;
    margin-bottom: 20px;
    border-radius: 16px;
}

.panel-grn > .panel-heading {
    border-color: #037cb4;
    color: white;
    background-color: #0f9bad;
    min-width: 250px;
    margin-bottom: 20px;
    border-radius: 16px;
}




.panel-red > .panel-heading {
    border-color: #880000;
    color: white;
    background-color: #650303;
    min-width: 250px;
    margin-bottom: 20px;
    border-radius: 16px;
}





.rows {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
}


img {
    opacity: 1;
    filter: alpha(opacity=50);
}

img:hover {
    transform: rotateY(1deg) rotateX(1deg) scale(1.3);
    transition: transform .56s ease-out;
    z-index:2;
    mix-blend-mode: normal;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-prima {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    top:40%;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btnclose {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #7dccf1;
}



.column-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 80%;
    max-width: 100%;
    margin-left: 20px;
}

.ctt {
    margin-left: 30px;
    font-size: 16px;
    padding: 10px 0px;
}

.photo {
    width:150px;
    border-radius: 20px;
    box-shadow: -2px 3px rgba(0,0,0,0.2);
}
.phot_student {
    width:100px;
    border-radius: 20px;
    box-shadow: -2px 3px rgba(0,0,0,0.2);
}
.table td, .table th {
    padding: 0px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
  }
  td{
    border-radius: 20px;
    text-align: -webkit-center;
    padding: 8px 10px;
  }
  th {
    border-radius: 20px;
    text-align: -webkit-center;
    padding-bottom: 40px;
    padding-top:40px;
  }
  
  tr:nth-child(even) {
    /* background-color: #dddddd; */
    /* border-radius: 30px; */
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.671); /* Black w/ opacity */
    border-radius: 30px;
  }
  .card {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    left: 275px;
    top:250px;
}
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    color:#000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #7dccf1;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn{
      border-radius: 9px;
    border: none;
    padding: 4px 10px;
    background-color: #05a8f340;
}



.listul{
    font-size: 14px;
    color:#6f6f7dd4;
    padding-top: 30px;
}